body {

  margin: 0 px;
  /*padding: 20;*/
  width: 100%;
  height: 100%;
  /*background-image: url('../src/rolypolyimage1.jpg');
  /* border: 20px;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*border: 10px solid darkgray;*/
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(bugs1.jpg) 30% round; /* Safari 3.1-5 */
    -o-border-image: url(bugs2.jpg) 30% round; /* Opera 11-12.1 */
    border-image: url(bugs5.jpg) 30% round;
 
   /*border: 5px solid #34495E ;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Bug {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10%;
  display: inline-block;
}

.Bugs{
  
    background-image: /*linear-gradient(transparent, white 13%),*/ url('../src/rolypolyimage1.jpg');
    background-repeat: no-repeat;
    background-size: 50% auto;
    height: 80vh;
    background-position: left top;
   /* background-Position: 'center';*/
    padding-left: 30px;
    border-left: 20%;
    border-width: 4px;
  /*border-style: ridge;
  border-radius: 4px;
 /* width: 350px;
  height: 250px;
  padding: 5px;
  float: left;
  overflow: auto;

    width: 100%;
    height: auto;*/
 
}

h1{
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  color: #34495E;
  
  /*color: //#5D6D7E//darkslategrey;*/
  
}

.info, .info-child {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration-color: #34495E;
  color: #34495E;
  text-decoration-line: none;

  }

  
.registrationForm {
  width: 88%;
  height: 30px;
  padding-left: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  display: block;
  border: 3px solid #34495E;
  font-size: 1.5em;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  -o-text-overflow: clip;
  text-overflow: clip;
  margin-bottom: 10px;
  color: #34495E;
  
}

.form-input {
  position: relative;
  display: inline-block;
}

.registrationForm {
  width: 320px;
  height: 55px;
  padding: 10px 20px;
  margin-right: 12px;
  border: 3px solid #34495E;
  /* font needs checking */
  font-size: 1.5em;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  color: #34495E;
  -o-text-overflow: clip;
  text-overflow: clip;
  
}

.loginButton{
  background-color:#34495E ;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:23px;
    padding:16px 27px;
    text-decoration:none;
    text-shadow:2px 2px 3px #34495E;
    border-color: black;
    border: 3px solid black;
}

.loginForm{
  width: 88%;
  height: 30px;
  padding-left: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  display: block;
  border: 3px solid #34495E;
  font-size: 1.5em;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  -o-text-overflow: clip;
  text-overflow: clip;
  margin-bottom: 10px;
  color: #34495E;

  width: 320px;
  height: 55px;
  padding: 10px 20px;
  margin-right: 12px;
  border: 3px solid #34495E;
  /* font needs checking */
  font-size: 1.5em;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  color: #34495E;
  -o-text-overflow: clip;
  text-overflow: clip;
 
  }

  .flexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .inputField{
    border-color: #34495E;
    border: 2px solid #34495E;
  }
  
  @media screen and (min-width: 400px) {
    body {
      background-color: #34495E;
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: lavender;
    }
  }