@font-face {
  font-family: '5yearsoldfont';
  src: url('./assests/5yearsoldfont.ttf'); /* IE9 Compat Modes */
  src: url('./assests/5yearsoldfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('./assests/5yearsoldfont.ttf') format('woff2'), /* Super Modern Browsers */
  url('./assests/5yearsoldfont.ttf') format('woff'), /* Pretty Modern Browsers */
  url('./assests/5yearsoldfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assests/5yearsoldfont.ttf#svgFontName') format('svg'); /* Legacy iOS */
}
body {
    background: linear-gradient(transparent, #60CFF6, #3AC655 );
    margin-bottom: 0px;
    font-family: "5yearsoldfont" !important;
    border: 5px solid black ;
    border-image: 
        url("./assests/thincrayonlineblu.svg")  /* source */
        45 /                    /* slice */
        30px /    /* width */
        1px       /* outset */
        round;  
}
.Bug {
  position: absolute;
  top: 12.5vh; /* don't change */
  right: 0.5%;
  padding-left: 8%;
  padding-right: 8%;
  
}
a {
  color:  #FD0A0F !important
}
.Bugs{
    background-repeat: no-repeat;
    background-size: 50% auto;
    height: 98.4vh; /* don't change */
    background-Position: 'center';
    border-left: 20%;
    
}
h1{
  padding-top: 15px;
  text-align: center;
  color: darkslategrey;  
}
.registrationForms {
  width: 88%;
  height: 30px;
  padding-left: 80px;
  margin: 0 auto;
  display: block;
  font-size: 1.5em;
  -o-text-overflow: clip;
  text-overflow: clip;
  color: darkslategrey;
}
.form-input {
  position: relative;
  display: inline-block;
  margin: 0px 3px;
}
.registrationForm {
  padding: 6px 10px 0px 10px;
  font-size: 1.5em;
  color: darkslategrey;
}
.loginButton{
  background-color: #FEFAF5;
  display:inline-block;
  cursor:pointer;
  color:darkslategrey;
  font-size:23px;
  padding:4px 27px 2px 27px;
  text-decoration:none;
  text-shadow:2px 1px 3px #696969;
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinepurple.svg")  /* source */
    45 /                    /* slice */
    30px /    /* width */
    6px       /* outset */
    round; 
  
}
.loginForm{
  padding: 10px 10px 0px 10px;
  font-size: 1.5em;
  color: darkslategrey;
}
.flexLeft {
  display: flex;
  align-items: center;
  justify-content: flex-end ;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center ;
}
.inputField {
  background-color: #FEFAF5;
  margin-left: 4px;
  margin-bottom: 4px;
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinered.svg")  /* source */
    45 /                    /* slice */
    30px /    /* width */
    6px       /* outset */
    round; 
  }
svg {
  z-index: -1;
}
nav {
  text-align: center;
  border: 4px solid #696969;
  margin: 0px 0px 10px 0px;
  border-image: 
    url("./assests/thincrayonlinepurple.svg")  /* source */
    45 /                    /* slice */
    30px /    /* width */
    2px       /* outset */
    round; 
}
nav > :nth-child(n) {
  padding: 0px 10px 0px 10px
}
nav > :nth-child(n):hover {
  border: 4px solid #696969;
  text-shadow:2px 1px 1px #0EFAF5;
  border-image: 
    url("./assests/thincrayonlinegreen.svg")  /* source */
    45 /                    /* slice */
    40px /    /* width */
    0px       /* outset */
    round;
}
.addCreateBtn {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlineyellow.svg")  /* source */
    45 /                    /* slice */
    40px /    /* width */
    2px       /* outset */
    round
  !important /* can't figure out where it's overwritten */
}
.Bug > .container > div > div:nth-child(3n+1) {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlineorange.svg")  /* source */
    45 /                    /* slice */
    20px /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.Bug > .container > div > div:nth-child(3n+2) {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinegreen.svg")  /* source */
    45 /                    /* slice */
    20px /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.Bug > .container > div > div:nth-child(3n+3) {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinered.svg")  /* source */
    45 /                    /* slice */
    20px /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.Bug > div > div:nth-child(3n+4) > p {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlineorange.svg")  /* source */
    45 /                    /* slice */
    0px 0px 20px 0px /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.Bug > div > div:nth-child(3n+2) >p  {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinegreen.svg")  /* source */
    45 /                    /* slice */
    0px 0px 20px 0px  /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.Bug > div > div:nth-child(3n+3) >p {
  border: 4px solid #696969;
  border-image: 
    url("./assests/thincrayonlinered.svg")  /* source */
    45 /                    /* slice */
    0px 0px 20px 0px  /    /* width */
    0px 0px 0px 8px       /* outset */
    round
}
.modal-content {
  background-image: linear-gradient( white, transparent), url("./assests/images_use1.png");
}
  /*  media queries  */
@media screen and (max-width: 375px) {
  .Bug {
    width: 300px;
    margin: 35px 10px 0px 10px;
    font-family: "5yearsoldfont"
  }
  
  .inputField {
    width: 200px;
  }
}
@media screen and (min-width: 1025px) {
  .Bug {
    width: 100%;
    margin: 0 auto;
    font-family: "5yearsoldfont";
    display: flex;
    align-items: center;
    justify-content: center ;
  }
  .inputField {
    width: 70%;
  }
}
/* DOODLE BUG */
#doodle{
  position: fixed;
  bottom: 0;
}
@keyframes colorChange {
  0%{stroke:#ff0000}
  25%{stroke:#00ff00}
  75%{stroke: #0000ff}
  100%{stroke: #ff0000}
}
@keyframes wave {
0%{
  transform: rotate(0deg);
  transform-origin: 90px 190px;
  }
50%{
  transform: rotate(60deg);
  transform-origin: 90px 190px;
  }
100%{
  transform: rotate(-25deg);
  transform-origin: 90px 190px;
  }
}
@keyframes wiggle {
0%{transform: translate(0px, 580px)}
20%{transform: translate(100px, 400px)}
70%{transform: translate(100px, 400px)}
100%{transform: translate(0px, 580px)}
}
#mainR {
  width:200px;
  height:200px;
  animation: wave 4s cubic-bezier(.49,.05,.32,1.04) infinite alternate
}
#bug {
  width:200px;
  height:200px;
  stroke: #ff00ff;
  animation: wiggle 6s ease infinite alternate
}