.famRow {
    display:inline-block;
    width: 100%;
}

.doodleBucksText {
    float: right;
    margin: 10px;
    
}

.badge {
    font-size: 150%;
    float: right;
    margin: 0px 8px 8px 0px
  }

  .btn-link {
    font-size: 150%;
    font-weight: bold;
  }

  .famNameHeader {
      text-align: center;
  }

.inLine > div {
    display: inline-block;
}
 .remove {
     float: right;
     font-size: 10px
 }

 .floatR {
    text-align: right
 }

 .gifDone {
     width: 80%;
 }

.gifWrapper {
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.Bug {
    padding-left: 4%;
    padding-right: 4%;
  }

.descriptionText {
    padding-left: 12px;
    padding-right: 12px;
}

.rowView {
    padding-bottom: 20px;
}

.footer {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 30px;
    bottom: 10px;
    width: 100%;
}

.flexCenter > p {
    margin-top: 20px;
    font-size: .9em;
}