.famRow {
    display:inline-block;
    width: 100%;
}

.doodleBucksText {
    /* display: inline-block; */
    float: right;
    margin: 10px;
    
}

.badge {
    font-size: 150%;
    /* display: inline-block; */
    float: right;
    margin: 0px 8px 8px 0px
  }

  .btn-link {
    font-size: 150%;
    font-weight: bold;
  }

  .famNameHeader {
      text-align: center;
  }

